# Financial and Economic Data Applications
Original from Wes McKinney (https://github.com/wesm/pydata-book/tree/1st-edition)

Updated and edited for Python circa 2018 by R. D. Slater

Note: still need to fix Cells just before Quartile/Decile Analysis

In [1]:
from __future__ import division
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np
pd.options.display.max_rows = 12
np.set_printoptions(precision=4, suppress=True)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(12, 6))

In [2]:
%matplotlib inline

In [3]:
%pwd

'G:\\My Drive\\Shon Mohsin\\Southern Methodist University\\7333 Quantifying the World S2034\\Project 1\\qtw\\week8\\ch11code+(3)'

## Data munging topics

### Time series and cross-section alignment

In [4]:
close_px = pd.read_csv('ch11/stock_px.txt', parse_dates=True, index_col=0)
volume = pd.read_csv('ch11/volume.txt', parse_dates=True, index_col=0)
prices = close_px.loc['2011-09-05':'2011-09-14', ['AAPL', 'JNJ', 'SPX', 'XOM']]
volume = volume.loc['2011-09-05':'2011-09-12', ['AAPL', 'JNJ', 'XOM']]

In [5]:
prices

              AAPL    JNJ      SPX    XOM
2011-09-06  379.74  64.64  1165.24  71.15
2011-09-07  383.93  65.43  1198.62  73.65
2011-09-08  384.14  64.95  1185.90  72.82
2011-09-09  377.48  63.64  1154.23  71.01
2011-09-12  379.94  63.59  1162.27  71.84
2011-09-13  384.62  63.61  1172.87  71.65
2011-09-14  389.30  63.73  1188.68  72.64

In [6]:
volume

                  AAPL         JNJ         XOM
2011-09-06  18173500.0  15848300.0  25416300.0
2011-09-07  12492000.0  10759700.0  23108400.0
2011-09-08  14839800.0  15551500.0  22434800.0
2011-09-09  20171900.0  17008200.0  27969100.0
2011-09-12  16697300.0  13448200.0  26205800.0

In [7]:
prices * volume

                    AAPL           JNJ  SPX           XOM
2011-09-06  6.901205e+09  1.024434e+09  NaN  1.808370e+09
2011-09-07  4.796054e+09  7.040072e+08  NaN  1.701934e+09
2011-09-08  5.700561e+09  1.010070e+09  NaN  1.633702e+09
2011-09-09  7.614489e+09  1.082402e+09  NaN  1.986086e+09
2011-09-12  6.343972e+09  8.551710e+08  NaN  1.882625e+09
2011-09-13           NaN           NaN  NaN           NaN
2011-09-14           NaN           NaN  NaN           NaN

In [8]:
vwap = (prices * volume).sum() / volume.sum()

In [9]:
vwap

AAPL    380.655181
JNJ      64.394769
SPX            NaN
XOM      72.024288
dtype: float64

In [10]:
vwap.dropna()

AAPL    380.655181
JNJ      64.394769
XOM      72.024288
dtype: float64

In [11]:
prices.align(volume, join='inner')

(              AAPL    JNJ    XOM
 2011-09-06  379.74  64.64  71.15
 2011-09-07  383.93  65.43  73.65
 2011-09-08  384.14  64.95  72.82
 2011-09-09  377.48  63.64  71.01
 2011-09-12  379.94  63.59  71.84,
                   AAPL         JNJ         XOM
 2011-09-06  18173500.0  15848300.0  25416300.0
 2011-09-07  12492000.0  10759700.0  23108400.0
 2011-09-08  14839800.0  15551500.0  22434800.0
 2011-09-09  20171900.0  17008200.0  27969100.0
 2011-09-12  16697300.0  13448200.0  26205800.0)

In [12]:
s1 = Series(range(3), index=['a', 'b', 'c'])
s2 = Series(range(4), index=['d', 'b', 'c', 'e'])
s3 = Series(range(3), index=['f', 'a', 'c'])
DataFrame({'one': s1, 'two': s2, 'three': s3})

   one  two  three
a  0.0  NaN    1.0
b  1.0  1.0    NaN
c  2.0  2.0    2.0
d  NaN  0.0    NaN
e  NaN  3.0    NaN
f  NaN  NaN    0.0

In [13]:
DataFrame({'one': s1, 'two': s2, 'three': s3}, index=list('face'))

   one  two  three
f  NaN  NaN    0.0
a  0.0  NaN    1.0
c  2.0  2.0    2.0
e  NaN  3.0    NaN

### Operations with time series of different frequencies

In [14]:
ts1 = Series(np.random.randn(3),
             index=pd.date_range('2012-6-13', periods=3, freq='W-WED'))
ts1

2012-06-13    1.885647
2012-06-20    1.519793
2012-06-27   -0.865024
Freq: W-WED, dtype: float64

In [15]:
ts1.resample('B')

DatetimeIndexResampler [freq=<BusinessDay>, axis=0, closed=left, label=left, convention=start, base=0]

In [16]:
ts1.resample('B').ffill()

2012-06-13    1.885647
2012-06-14    1.885647
2012-06-15    1.885647
2012-06-18    1.885647
2012-06-19    1.885647
2012-06-20    1.519793
2012-06-21    1.519793
2012-06-22    1.519793
2012-06-25    1.519793
2012-06-26    1.519793
2012-06-27   -0.865024
Freq: B, dtype: float64

In [17]:
dates = pd.DatetimeIndex(['2012-6-12', '2012-6-17', '2012-6-18',
                          '2012-6-21', '2012-6-22', '2012-6-29'])
ts2 = Series(np.random.randn(6), index=dates)
ts2

2012-06-12    0.241941
2012-06-17    0.079603
2012-06-18    0.270954
2012-06-21    0.750167
2012-06-22   -0.709200
2012-06-29    0.328692
dtype: float64

In [18]:
ts1.reindex(ts2.index, method='ffill')

2012-06-12         NaN
2012-06-17    1.885647
2012-06-18    1.885647
2012-06-21    1.519793
2012-06-22    1.519793
2012-06-29   -0.865024
dtype: float64

In [19]:
ts2 + ts1.reindex(ts2.index, method='ffill')

2012-06-12         NaN
2012-06-17    1.965250
2012-06-18    2.156601
2012-06-21    2.269959
2012-06-22    0.810592
2012-06-29   -0.536332
dtype: float64

#### Using periods instead of timestamps

In [20]:
gdp = Series([1.78, 1.94, 2.08, 2.01, 2.15, 2.31, 2.46],
             index=pd.period_range('1984Q2', periods=7, freq='Q-SEP'))
infl = Series([0.025, 0.045, 0.037, 0.04],
              index=pd.period_range('1982', periods=4, freq='A-DEC'))
gdp

1984Q2    1.78
1984Q3    1.94
1984Q4    2.08
1985Q1    2.01
1985Q2    2.15
1985Q3    2.31
1985Q4    2.46
Freq: Q-SEP, dtype: float64

In [21]:
infl

1982    0.025
1983    0.045
1984    0.037
1985    0.040
Freq: A-DEC, dtype: float64

In [22]:
infl_q = infl.asfreq('Q-SEP', how='end')

In [23]:
infl_q

1983Q1    0.025
1984Q1    0.045
1985Q1    0.037
1986Q1    0.040
Freq: Q-SEP, dtype: float64

In [24]:
infl_q.reindex(gdp.index, method='ffill')

1984Q2    0.045
1984Q3    0.045
1984Q4    0.045
1985Q1    0.037
1985Q2    0.037
1985Q3    0.037
1985Q4    0.037
Freq: Q-SEP, dtype: float64

### Time of day and "as of" data selection

In [25]:
# Make an intraday date range and time series
rng = pd.date_range('2012-06-01 09:30', '2012-06-01 15:59', freq='T')
# Make a 5-day series of 9:30-15:59 values
rng = rng.append([rng + pd.offsets.BDay(i) for i in range(1, 4)])
ts = Series(np.arange(len(rng), dtype=float), index=rng)
ts

2012-06-01 09:30:00       0.0
2012-06-01 09:31:00       1.0
2012-06-01 09:32:00       2.0
2012-06-01 09:33:00       3.0
2012-06-01 09:34:00       4.0
2012-06-01 09:35:00       5.0
                        ...
2012-06-06 15:54:00    1554.0
2012-06-06 15:55:00    1555.0
2012-06-06 15:56:00    1556.0
2012-06-06 15:57:00    1557.0
2012-06-06 15:58:00    1558.0
2012-06-06 15:59:00    1559.0
Length: 1560, dtype: float64

In [26]:
from datetime import time
ts[time(10, 0)]

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [27]:
ts.at_time(time(10, 0))

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [28]:
ts.between_time(time(10, 0), time(10, 1))

2012-06-01 10:00:00      30.0
2012-06-01 10:01:00      31.0
2012-06-04 10:00:00     420.0
2012-06-04 10:01:00     421.0
2012-06-05 10:00:00     810.0
2012-06-05 10:01:00     811.0
2012-06-06 10:00:00    1200.0
2012-06-06 10:01:00    1201.0
dtype: float64

In [29]:
np.random.seed(12346)

In [30]:
# Set most of the time series randomly to NA
indexer = np.sort(np.random.permutation(len(ts))[700:])
irr_ts = ts.copy()
irr_ts[indexer] = np.nan
irr_ts['2012-06-01 09:50':'2012-06-01 10:00']

2012-06-01 09:50:00    20.0
2012-06-01 09:51:00     NaN
2012-06-01 09:52:00    22.0
2012-06-01 09:53:00    23.0
2012-06-01 09:54:00     NaN
2012-06-01 09:55:00    25.0
2012-06-01 09:56:00     NaN
2012-06-01 09:57:00     NaN
2012-06-01 09:58:00     NaN
2012-06-01 09:59:00     NaN
2012-06-01 10:00:00     NaN
dtype: float64

In [31]:
selection = pd.date_range('2012-06-01 10:00', periods=4, freq='B')
irr_ts.asof(selection)

2012-06-01 10:00:00      25.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1197.0
Freq: B, dtype: float64

### Splicing together data sources

In [32]:
data1 = DataFrame(np.ones((6, 3), dtype=float),
                  columns=['a', 'b', 'c'],
                  index=pd.date_range('6/12/2012', periods=6))
data2 = DataFrame(np.ones((6, 3), dtype=float) * 2,
                  columns=['a', 'b', 'c'],
                  index=pd.date_range('6/13/2012', periods=6))
spliced = pd.concat([data1.loc[:'2012-06-14'], data2.loc['2012-06-15':]])
spliced

              a    b    c
2012-06-12  1.0  1.0  1.0
2012-06-13  1.0  1.0  1.0
2012-06-14  1.0  1.0  1.0
2012-06-15  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0

In [33]:
data2 = DataFrame(np.ones((6, 4), dtype=float) * 2,
                  columns=['a', 'b', 'c', 'd'],
                  index=pd.date_range('6/13/2012', periods=6))
spliced = pd.concat([data1.loc[:'2012-06-14'], data2.loc['2012-06-15':]])
spliced

D:\Programs\Anaconda\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  NaN
2012-06-14  1.0  1.0  1.0  NaN
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [34]:
spliced_filled = spliced.combine_first(data2)
spliced_filled

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [35]:
spliced.update(data2, overwrite=False)

In [36]:
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [37]:
cp_spliced = spliced.copy()
cp_spliced[['a', 'c']] = data1[['a', 'c']]
cp_spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  1.0  2.0  1.0  2.0
2012-06-16  1.0  2.0  1.0  2.0
2012-06-17  1.0  2.0  1.0  2.0
2012-06-18  NaN  2.0  NaN  2.0

### Return indexes and cumulative returns

In [38]:
from pandas_datareader import data as web
price = web.get_data_yahoo('AAPL', '2011-01-01')['Adj Close']
price[-5:]

Date
2019-06-24    198.580002
2019-06-25    195.570007
2019-06-26    199.800003
2019-06-27    199.740005
2019-06-28    197.919998
Name: Adj Close, dtype: float64

In [39]:
price['2011-10-03'] / price['2011-3-01'] - 1

0.07239992345317958

In [40]:
returns = price.pct_change()
ret_index = (1 + returns).cumprod()
ret_index[0] = 1  # Set first value to 1
ret_index

Date
2011-01-03    1.000000
2011-01-04    1.005219
2011-01-05    1.013442
2011-01-06    1.012623
2011-01-07    1.019875
2011-01-10    1.039081
                ...
2019-06-21    4.819529
2019-06-24    4.814680
2019-06-25    4.741701
2019-06-26    4.844260
2019-06-27    4.842805
2019-06-28    4.798678
Name: Adj Close, Length: 2136, dtype: float64

In [41]:
m_returns = ret_index.resample('BM').last().pct_change()
m_returns['2012']

Date
2012-01-31    0.127111
2012-02-29    0.188311
2012-03-30    0.105283
2012-04-30   -0.025969
2012-05-31   -0.010703
2012-06-29    0.010853
2012-07-31    0.045822
2012-08-31    0.093877
2012-09-28    0.002796
2012-10-31   -0.107600
2012-11-30   -0.012374
2012-12-31   -0.090743
Freq: BM, Name: Adj Close, dtype: float64

In [42]:
m_rets = (1 + returns).resample('M', kind='period').prod() - 1
m_rets['2012']

Date
2012-01    0.127111
2012-02    0.188311
2012-03    0.105283
2012-04   -0.025969
2012-05   -0.010703
2012-06    0.010853
2012-07    0.045822
2012-08    0.093877
2012-09    0.002796
2012-10   -0.107600
2012-11   -0.012374
2012-12   -0.090743
Freq: M, Name: Adj Close, dtype: float64

returns[dividend_dates] += dividend_pcts

## Group transforms and analysis

In [43]:
pd.options.display.max_rows = 100
pd.options.display.max_columns = 10
np.random.seed(12345)

In [44]:
import random; random.seed(0)
import string

N = 1000
def rands(n):
    choices = string.ascii_uppercase
    return ''.join([random.choice(choices) for _ in range(n)])
tickers = np.array([rands(5) for _ in range(N)])

In [45]:
M = 500
df = DataFrame({'Momentum' : np.random.randn(M) / 200 + 0.03,
                'Value' : np.random.randn(M) / 200 + 0.08,
                'ShortInterest' : np.random.randn(M) / 200 - 0.02},
                index=tickers[:M])

In [46]:
ind_names = np.array(['FINANCIAL', 'TECH'])
sampler = np.random.randint(0, len(ind_names), N)
industries = Series(ind_names[sampler], index=tickers,
                    name='industry')

In [47]:
by_industry = df.groupby(industries)
by_industry.mean()

           Momentum     Value  ShortInterest
industry
FINANCIAL  0.029485  0.079929      -0.020739
TECH       0.030407  0.080113      -0.019609

In [48]:
by_industry.describe()

          Momentum                                          ... ShortInterest  \
             count      mean       std       min       25%  ...           min
industry                                                    ...
FINANCIAL    246.0  0.029485  0.004802  0.017210  0.026263  ...     -0.036997
TECH         254.0  0.030407  0.005303  0.016778  0.026456  ...     -0.032682


                25%       50%       75%       max
industry
FINANCIAL -0.024138 -0.020833 -0.017345 -0.006322
TECH      -0.022779 -0.019829 -0.016923 -0.003698

[2 rows x 24 columns]

In [49]:
# Within-Industry Standardize
def zscore(group):
    return (group - group.mean()) / group.std()

df_stand = by_industry.apply(zscore)

In [50]:
df_stand.groupby(industries).agg(['mean', 'std'])

               Momentum              Value      ShortInterest
                   mean  std          mean  std          mean  std
industry
FINANCIAL  1.114736e-15  1.0  8.001278e-15  1.0  3.081772e-15  1.0
TECH      -2.779929e-16  1.0 -7.139521e-15  1.0 -1.910982e-15  1.0

In [51]:
# Within-industry rank descending
ind_rank = by_industry.rank(ascending=False)
ind_rank.groupby(industries).agg(['min', 'max'])

          Momentum        Value        ShortInterest
               min    max   min    max           min    max
industry
FINANCIAL      1.0  246.0   1.0  246.0           1.0  246.0
TECH           1.0  254.0   1.0  254.0           1.0  254.0

In [52]:
# Industry rank and standardize
by_industry.apply(lambda x: zscore(x.rank()))

       Momentum     Value  ShortInterest
MYNBI -0.091346 -1.004802      -0.976696
QPMZJ  0.794005 -0.358356       1.299919
PLSGQ -0.541047 -1.679355      -0.836164
EJEYD -0.583207  0.990749      -1.623142
TZIRW  1.572120  0.374314      -0.265423
ZTEJD  1.395171 -1.436006       0.360703
XCVKP -0.074863 -0.660154       0.632931
RDLNK  0.238200  0.102086      -0.319869
TUGRP  1.075068  1.580983       1.665302
OQIBZ  1.412345 -1.313972       0.358356
RACXM  1.229653 -0.822111       1.257760
WZVUA -1.426398 -0.934536      -0.625366
TPKHX  0.224589  1.313503      -0.156531
KWCGS  0.142920  0.619320       0.741823
HHZEZ  1.538823 -1.566930       0.597260
ROCCK  1.117228  0.428622      -1.510717
QPDJR -1.640177  0.755434       0.700989
JWDRK -0.537651  0.714600       1.572120
RGZTR  1.637195  0.442675      -0.555101
SJOCT -0.619320  0.088474      -0.469594
ZMKSH -0.555101 -1.468557       0.259984
JFGFB  0.524040 -1.721846      -0.496817
TVIPC  1.708234  0.796269       0.034029
CVYEE -1.259057  0.115697       0.673766
BCWRV -0.639420  1.426398       0.920483
MWQIQ -0.020417 -1.626566      -1.612954
ZHGVS  0.265423  1.272668       1.177388
NSIOP  0.836164  1.679355       1.552876
VUWZL -0.142920 -0.306257      -0.564874
CKTDP  1.496664 -1.257760       0.302143
SUKGH -0.864326  0.864326       0.020417
AXIDW -0.986828 -0.877937      -0.102086
HLZFK -1.667400 -0.850714      -1.585731
NBDZE -1.623142  0.836164      -0.259984
WHBSU -0.962643  0.583207       1.426398
RTVCA  0.632931  0.224589       1.653788
DUGTS -1.398291  1.145334      -1.243706
DMCLD  0.456728 -0.007027       0.639420
BTAGF -1.201547 -0.920483      -1.089121
WDPGX  0.597260 -0.049186      -0.021080
ZBVAR -1.707461 -1.426398      -1.004802
NTDIC -0.077292 -0.512941      -1.454504
HCUJL -1.517674 -0.455983      -1.299891
NFBQO -1.103175 -0.484835      -1.145334
BTDWM -1.422394  0.142920       0.483206
GILXP  0.526994  0.302143      -0.063239
SFWVG  0.292646  0.551263      -1.463228
YBZVF -0.892377  0.245931      -1.426398
FKQID  0.583207  0.470782      -1.187494
TOVFA  1.367948 -1.150166       0.183754
...         ...       ...            ...
UWQDW -1.068497 -1.163777      -0.292646
YUWGT -0.105399  1.524770       1.018856
UTQDI  0.347091  1.014051       1.449617
WXTFM -0.667526  1.201547       0.498888
CZBAD -0.288090 -0.077292      -0.878324
LXPKD  0.864271  1.004802      -0.161612
VOLSW -1.299891 -1.558508       1.504063
IVPZY  1.381560 -1.408783      -1.286280
HFRRC -1.580983 -0.653473       1.538823
YQFAU -1.082108 -1.272668       0.210977
FQNTV  0.782657 -0.646543       0.496817
GOWVM -1.510717 -0.948590      -0.667526
IASEM  0.483206 -0.782657       1.640177
FOSBM -0.333480  0.442371      -0.115697
ZCUSM -0.808058 -1.046962      -0.007027
KHQOB  0.414569 -0.681579       0.962643
PTDIQ -0.496817 -0.741823      -1.544897
PRUMP  0.401537  1.082108      -1.504063
IFHRL  0.700989 -0.115697       1.163777
FJTEO  0.660154 -0.374314       1.286280
CCPMS  0.358356 -0.105399       0.245931
NRCIP -0.469594 -1.490451      -1.653788
HDJEL -0.836164 -0.175665      -0.119452
ZDEVB  0.484835  1.103175      -1.538823
VESRG -0.687377  0.279034       1.367948
ABMRW  0.319869 -1.122943      -0.646543
YTPWW -1.061015 -1.707461       1.117228
DPRLY -0.251811 -0.891549      -1.436006
KDVAH -1.637195 -0.344303       1.229653
HPJIH  1.408783  0.592097       0.809880
APLQK  1.463228  0.469594       0.279034
CCJSN  0.578486 -1.259057       1.544897
HXLMY -0.415149  0.319869       1.476840
EHJGX  1.014051  1.681011      -1.558508
YPVZL -0.088474 -0.837103      -0.632931
JMTEY -1.626566  1.354337      -0.401537
DMLQP -1.089121 -1.299919      -0.892377
HUWLU  0.344303  1.046962       1.328025
LNILM -0.006806 -1.327114      -1.572120
YYWJD -0.646543 -0.074863      -0.428760
PJDOE -0.737792 -0.962643      -0.948590
LHXFK  1.046962  1.566930      -1.440451
PHDVM -0.709686 -1.173440       1.454504
MOQOS  1.082108  1.708234       1.109331
THVMQ  0.891549 -0.796269      -1.721846
JPHKQ -0.238200  0.074863       0.401537
VACPK  1.681011 -0.238200      -1.395171
MHNBS  0.673766 -1.313503       1.490451
YBNCI  1.623142  0.976696       0.541047
GXKFD  1.286280  1.381560       1.463228

[500 rows x 3 columns]

### Group factor exposures

In [53]:
from numpy.random import rand
fac1, fac2, fac3 = np.random.rand(3, 1000)

ticker_subset = tickers.take(np.random.permutation(N)[:1000])

# Weighted sum of factors plus noise
port = Series(0.7 * fac1 - 1.2 * fac2 + 0.3 * fac3 + rand(1000),
              index=ticker_subset)
factors = DataFrame({'f1': fac1, 'f2': fac2, 'f3': fac3},
                    index=ticker_subset)

In [54]:
factors.corrwith(port)

f1    0.402377
f2   -0.680980
f3    0.168083
dtype: float64

In [55]:
from pyfinance.ols import PandasRollingOLS
model=PandasRollingOLS(y=port, x=factors,window=10)
model.beta

             f1        f2        f3
FYNCS  1.523291 -1.301151  0.514681
MTSHZ  1.703277 -1.139683  0.547610
OMLRE  1.590718 -1.075082  0.266399
OCNQR  1.653191 -1.035805  0.247607
XRHDX  1.514009 -0.760738  0.277267
TASQL  1.482487 -0.570713  0.322039
PVKPP  1.412132 -0.528023  0.320582
IVPZY  1.302049 -0.499206  0.414142
VOLSW  1.177061 -0.673796  0.513970
FEZAR  0.858180 -0.870596  0.917122
PMAJQ  0.464091 -0.919474  1.032473
QVNVN  0.418811 -0.815984  1.091516
EHYML  0.401575 -0.819960  1.101409
UNKRX  0.427064 -0.976758  0.963548
ENSNC  0.510085 -1.223259  1.164236
ZHLDR  0.438824 -0.841908  0.727829
IVBAI  0.814499 -0.986668  0.436955
PRBQK  0.699503 -1.066541  0.395490
AGSGC  0.570385 -1.206075  0.321146
SVXRV  0.735443 -0.829228  0.233772
DBEKB  0.680015 -0.786709  0.192253
BKQRA  0.735639 -0.925895  0.280559
COIXS  0.928284 -1.118032  0.362146
JPHKQ  0.804163 -1.213042  0.383530
AVAXF  0.633398 -1.417345  0.180839
TMUIV  0.842174 -1.508495  0.379001
OLSES  0.625939 -1.268617  0.456904
XHBMA  0.758366 -1.199118  0.438500
PVNSQ  0.776003 -1.069278  0.585892
DSUDQ  0.780853 -1.052138  0.611448
VAUBQ  0.803362 -1.150281  0.580931
WFHYR  0.990036 -1.140991  0.441536
KOZRX  0.837594 -0.979596  0.466672
KZXXM  1.062280 -0.939429  0.393069
DQVOX  0.976168 -0.855282  0.340889
DOUUI  1.145377 -0.979407  0.239214
SXQGF  0.990608 -1.027554  0.019728
ZCWOH  0.911613 -0.944018  0.109203
ZIAVV  0.701706 -1.009859  0.141381
DMLQP  0.582221 -1.073701  0.068287
QJVKH  0.705752 -1.063371 -0.074529
ZKKRO  0.423882 -0.945074 -0.455400
AHBAH  0.726244 -0.950125 -0.319680
YZWFL  0.756644 -0.532854 -0.570448
HPJIH  0.647760 -1.469649  0.220809
TBBIF  0.493438 -0.689916  0.099777
GLCGQ  0.569376 -0.770210  0.311870
MGCNS  0.562624 -0.859160  0.356051
TIGCN  0.781441 -0.803021  0.283736
LFNUZ  0.864499 -0.828788  0.393017
...         ...       ...       ...
NFBQO  0.493437 -1.063536 -0.730323
GIXMH  0.768150 -1.018951 -0.464239
XCVKP  0.623618 -1.094420 -0.331548
DWDMM  0.887491 -0.810367  0.114534
DBKFY  0.926973 -0.679543  0.292516
ZVWZS  0.893949 -0.546770  0.495973
ETQCI  0.876289 -0.548080  0.509874
FWCNT  1.051078 -0.483022  0.538049
LUPJS  0.956595 -0.961374  0.435608
YEABT  1.049168 -0.992320  0.445789
PYAGN  0.983224 -1.152824  0.395112
HYFCN  0.822349 -1.178558  0.306862
JHXHC  0.826639 -1.100308  0.333894
OEWKZ  0.936506 -1.331295  0.372104
KGNQQ  0.801714 -1.092450  0.583037
VSQKX  1.210518 -1.125360  1.229617
NPODI  0.790853 -0.884732  0.821645
LCDLW  0.562914 -0.952566  0.925899
HFHAZ  0.769613 -0.960638  0.958172
GWZNZ -0.966008 -0.685131 -0.034188
TYNOT -0.051921 -0.743807  0.060301
KTDTC  0.395330 -0.327573 -0.146468
VGTXP  0.970654 -0.340938  0.130215
YOHNH  0.591677 -0.402197  0.202699
AXPVV  0.602302 -0.352755  0.246180
NELJF  0.556330 -0.332947  0.337860
KUECW  0.477426 -0.317856  0.294545
BTGAL  0.653887 -0.984702  0.143407
VMIXC  0.808224 -1.041648  0.201733
QAHSC  1.335652 -1.268400 -0.115257
VWJVC  1.198939 -1.034358  0.020647
RTVCA  1.356618 -0.905330  0.193965
AEGXS  1.055465 -1.032394  0.028873
VYSHG  1.029112 -0.883262  0.169080
ZRTMY  0.990846 -0.715478  0.227616
YUWGT  0.121262 -0.596738  0.906987
ZGGJQ -1.036334  0.547644  1.337140
HDTMN -0.708894  0.846237  1.013352
MZLKZ  0.125068 -0.528270  1.138833
ZNVHT  0.379763 -1.835855  1.189286
GMCLD  0.635388 -1.575134  0.876119
JRNBV  0.826208 -1.637179  0.669742
LKVOU  1.669735 -2.031834  0.527448
AZEME  1.511569 -1.521703  0.302146
PUQQG  0.405553 -1.161906  0.395148
XZHYB  0.662846 -1.176178  0.309286
VESRG  0.667797 -1.207171  0.310491
ARPWX  0.499895 -0.848822 -0.238185
PMUCA  0.170283 -0.776787 -0.115176
YPVZL  0.247035 -0.698597  0.051599

[991 rows x 3 columns]

In [56]:
def beta_exposure(chunk, factors=None):
    return feature1(y=chunk, x=factors).beta

In [57]:
by_ind = port.groupby(industries)
exposures = by_ind.apply(beta_exposure, factors=factors)
exposures.unstack()

NameError: name 'feature1' is not defined

### Decile and quartile analysis

In [ ]:
import pandas_datareader.data as web
data = web.get_data_yahoo('SPY', '2006-01-01')
data.info()

In [ ]:
px = data['Adj Close']
returns = px.pct_change()

def to_index(rets):
    index = (1 + rets).cumprod()
    first_loc = max(index.index.get_loc(index.idxmax()) - 1, 0)
    index.values[first_loc] = 1
    return index

def trend_signal(rets, lookback, lag):
    signal = pd.rolling_sum(rets, lookback, min_periods=lookback - 5)
    return signal.shift(lag)

In [ ]:
signal = trend_signal(returns, 100, 3)
trade_friday = signal.resample('W-FRI').resample('B').ffill()
trade_rets = trade_friday.shift(1) * returns
trade_rets = trade_rets[:len(returns)]

In [ ]:
to_index(trade_rets).plot()

In [ ]:
vol = pd.rolling_std(returns, 250, min_periods=200) * np.sqrt(250)

def sharpe(rets, ann=250):
    return rets.mean() / rets.std()  * np.sqrt(ann)

In [ ]:
cats = pd.qcut(vol, 4)
print('cats: %d, trade_rets: %d, vol: %d' % (len(cats), len(trade_rets), len(vol)))

In [ ]:
trade_rets.groupby(cats).agg(sharpe)

## More example applications

### Signal frontier analysis

In [ ]:
import datetime
import pandas as pd
start_dt=datetime.datetime(2009,1,1)
end_dt=datetime.datetime(2012,6,1)
from pandas_datareader import data as web
stock='AAPL'
px=pd.DataFrame({'AAPL':web.get_data_yahoo(stock, start_dt, end_dt)['Adj Close']})
names=['GOOG','MSFT', 'GS','INTC', 'MS', 'BAC', 'C']
for stock in names:
    while True:
        try:
            px[stock]=web.get_data_yahoo(stock, start_dt, end_dt)['Adj Close']
            break
        except:
            print('Unable to read stock: {0}'.format(stock))
            print('trying again')

In [ ]:
#px = pd.read_csv('ch11/stock_px.csv')

In [ ]:
plt.close('all')

In [ ]:
px = px.asfreq('B').fillna(method='pad')
rets = px.pct_change()
((1 + rets).cumprod() - 1).plot()

In [ ]:
def calc_mom(price, lookback, lag):
    mom_ret = price.shift(lag).pct_change(lookback)
    ranks = mom_ret.rank(axis=1, ascending=False)
    demeaned = ranks.subtract(ranks.mean(axis=1), axis=0)
    return demeaned.divide(demeaned.std(axis=1), axis=0)

In [ ]:
compound = lambda x : (1 + x).prod() - 1
daily_sr = lambda x: x.mean() / x.std()

def strat_sr(prices, lb, hold):
    # Compute portfolio weights
    freq = '%dB' % hold
    port = calc_mom(prices, lb, lag=1)

    daily_rets = prices.pct_change()

    # Compute portfolio returns
    port = port.shift(1).resample(freq, how='first')
    returns = daily_rets.resample(freq, how=compound)
    port_rets = (port * returns).sum(axis=1)

    return daily_sr(port_rets) * np.sqrt(252 / hold)

In [ ]:
strat_sr(px, 70, 30)

In [ ]:
from collections import defaultdict

lookbacks = range(20, 90, 5)
holdings = range(20, 90, 5)
dd = defaultdict(dict)
for lb in lookbacks:
    for hold in holdings:
        dd[lb][hold] = strat_sr(px, lb, hold)

ddf = DataFrame(dd)
ddf.index.name = 'Holding Period'
ddf.columns.name = 'Lookback Period'

In [ ]:
import matplotlib.pyplot as plt

def heatmap(df, cmap=plt.cm.gray_r):
    fig = plt.figure()
    ax = fig.add_subplot(111)
    axim = ax.imshow(df.values, cmap=cmap, interpolation='nearest')
    ax.set_xlabel(df.columns.name)
    ax.set_xticks(np.arange(len(df.columns)))
    ax.set_xticklabels(list(df.columns))
    ax.set_ylabel(df.index.name)
    ax.set_yticks(np.arange(len(df.index)))
    ax.set_yticklabels(list(df.index))
    plt.colorbar(axim)

In [ ]:
heatmap(ddf)
plt.show()

### Future contract rolling

In [ ]:
pd.options.display.max_rows = 10

In [ ]:
#import pandas.io.data as web
# Approximate price of S&P 500 index
px = web.get_data_yahoo('SPY')['Adj Close'] * 10
px

In [ ]:
from datetime import datetime
expiry = {'ESU2': datetime(2012, 9, 21),
          'ESZ2': datetime(2012, 12, 21)}
expiry = Series(expiry).sort_values()

In [ ]:
expiry

In [ ]:
np.random.seed(12347)
N = 200
walk = (np.random.randint(0, 200, size=N) - 100) * 0.25
perturb = (np.random.randint(0, 20, size=N) - 10) * 0.25
walk = walk.cumsum()

rng = pd.date_range(px.index[0], periods=len(px) + N, freq='B')
near = np.concatenate([px.values, px.values[-1] + walk])
far = np.concatenate([px.values, px.values[-1] + walk + perturb])
prices = DataFrame({'ESU2': near, 'ESZ2': far}, index=rng)

In [ ]:
prices.tail()

In [ ]:
def get_roll_weights(start, expiry, items, roll_periods=5):
    # start : first date to compute weighting DataFrame
    # expiry : Series of ticker -> expiration dates
    # items : sequence of contract names

    dates = pd.date_range(start, expiry[-1], freq='B')
    weights = DataFrame(np.zeros((len(dates), len(items))),
                        index=dates, columns=items)

    prev_date = weights.index[0]
    for i, (item, ex_date) in enumerate(expiry.iteritems()):
        if i < len(expiry) - 1:
            weights.ix[prev_date:ex_date - pd.offsets.BDay(), item] = 1
            roll_rng = pd.date_range(end=ex_date - pd.offsets.BDay(),
                                     periods=roll_periods + 1, freq='B')

            decay_weights = np.linspace(0, 1, roll_periods + 1)
            weights.ix[roll_rng, item] = 1 - decay_weights
            weights.ix[roll_rng, expiry.index[i + 1]] = decay_weights
        else:
            weights.ix[prev_date:, item] = 1

        prev_date = ex_date

    return weights

In [ ]:
weights = get_roll_weights('6/1/2012', expiry, prices.columns)
weights.loc['2012-09-12':'2012-09-21']

In [ ]:
rolled_returns = (prices.pct_change() * weights).sum(1)

### Rolling correlation and linear regression

In [ ]:
aapl = web.get_data_yahoo('AAPL', '2000-01-01')['Adj Close']
msft = web.get_data_yahoo('MSFT', '2000-01-01')['Adj Close']

aapl_rets = aapl.pct_change()
msft_rets = msft.pct_change()

In [ ]:
plt.figure()

In [ ]:
pd.rolling_corr(aapl_rets, msft_rets, 250).plot()

In [ ]:
plt.figure()

In [ ]:
from pyfinance.ols import PandasRollingOLS
model = PandasRollingOLS(y=aapl_rets, x= msft_rets, window=250)
model.beta

In [ ]:
model.beta['feature1'].plot()

In [ ]:
msft_rets